<ion-view view-title="Event Notifications"> <ion-content>
<ion-list>
<div class="list allocated_style" ng-if="eventNotificationsAvailable"
	ng-repeat="event in notifyEvents">
	<ion-item class="item-stable custom_item item_notification"
		ng-if="event.alarm_type == 'PAT'"> <!-- Events -->
	<div class="updatedCard card list borderBottom">
		<div class="item item-text-wrap">
			<div class="row padd0">
				<div class="col-20 applyColor">
					<ul class="eventList">
						<li>{{getTimeService(event.ts)}}</li>
						<li>{{getDateService(event.ts)}}</li>
					</ul>
				</div>
				<div class="col-40 vhCenter">
					<ul class="evenDetail">
						<li><div class="verhorcenter">
								<img src="../www/img/pat.png" class="markerImg"><label>PANIC</label>
							</div></li>
						<li><span>Vehicle no:{{event.vehicle_num}}</span></li>
					</ul>
				</div>
				<div class="col-20 applyColor">
					<ul class="eventList">
						<li>{{event.Velocity}}</li>
						<li>KMPH</li>
					</ul>
				</div>
				<div class="col-20 markerDiv">
					<img alt="phone" src="../www/img/location.png" class="markerImg"
						ng-click="showEventNotifyPopup(event)" />
				</div>
			</div>
		</div>
	</div>
	<!-- Events --> </ion-item>
	<ion-item class="item-stable custom_item item_notification"
		ng-if="event.alarm_type == 'BAT'"> <!-- Events -->
	<div class="updatedCard card list borderBottom">
		<div class="item item-text-wrap">
			<div class="row padd0">
				<div class="col-20 applyColor">
					<ul class="eventList">
						<li>{{getTimeService(event.ts)}}</li>
						<li>{{getDateService(event.ts)}}</li>
					</ul>
				</div>
				<div class="col-40 vhCenter">
					<ul class="evenDetail">
						<li><div class="verhorcenter">
								<img src="../www/img/bat.png" class="markerImg"><label>BATTERY</label>
							</div></li>
						<li><span>Vehicle no:{{event.vehicle_num}}</span></li>
					</ul>
				</div>
				<div class="col-20 applyColor">
					<ul class="eventList">
						<li>{{event.Velocity}}</li>
						<li>KMPH</li>
					</ul>
				</div>
				<div class="col-20 markerDiv">
					<img alt="phone" src="../www/img/location.png" class="markerImg"
						ng-click="showEventNotifyPopup(event)">
				</div>
			</div>
		</div>
	</div>
	<!-- Events --> </ion-item>
	<ion-item class="item-stable custom_item item_notification"
		ng-if="event.alarm_type == 'overspeed'"> <!-- Events -->
	<div class="updatedCard card list borderBottom">
		<div class="item item-text-wrap">
			<div class="row padd0">
				<div class="col-20 applyColor">
					<ul class="eventList">
						<li>{{getTimeService(event.ts)}}</li>
						<li>{{getDateService(event.ts)}}</li>
					</ul>
				</div>
				<div class="col-40 vhCenter">
					<ul class="evenDetail">
						<li><div class="verhorcenter">
								<img src="../www/img/spe.png" class="markerImg"><label>OVERSPEED</label>
							</div></li>
						<li><span>Vehicle no:{{event.vehicle_num}}</span></li>
					</ul>
				</div>
				<div class="col-20 applyColor">
					<ul class="eventList">
						<li>{{event.Velocity}}</li>
						<li>KMPH</li>
					</ul>
				</div>
				<div class="col-20 markerDiv">
					<img alt="phone" src="../www/img/location.png" class="markerImg"
						ng-click="showEventNotifyPopup(event)">
				</div>
			</div>
		</div>
	</div>
	<!-- Events --> </ion-item>
	<ion-item class="item-stable custom_item item_notification"
		ng-if="event.alarm_type == 'geofence'"> <!-- Events -->
	<div class="updatedCard card list borderBottom">
		<div class="item item-text-wrap">
			<div class="row padd0">
				<div class="col-20 applyColor">
					<ul class="eventList">
						<li>{{getTimeService(event.ts)}}</li>
						<li>{{getDateService(event.ts)}}</li>
					</ul>
				</div>
				<div class="col-40 vhCenter">
					<ul class="evenDetail">
						<li><div class="verhorcenter">
								<img src="../www/img/geo.png" class="markerImg"><label>GEOFENCE</label>
							</div></li>
						<li><span>Vehicle no:{{event.vehicle_num}}</span></li>
					</ul>
				</div>
				<div class="col-20 applyColor">
					<ul class="eventList">
						<li>{{event.Velocity}}</li>
						<li>KMPH</li>
					</ul>
				</div>
				<div class="col-20 markerDiv">
					<img alt="phone" src="../www/img/location.png" class="markerImg"
						ng-click="showEventNotifyPopup(event)">
				</div>
			</div>
		</div>
	</div>
	<!-- Events --> </ion-item>
	<ion-item class="item-stable custom_item item_notification"
		ng-if="event.alarm_type == 'CAT'"> <!-- Events -->
	<div class="updatedCard card list borderBottom">
		<div class="item item-text-wrap">
			<div class="row padd0">
				<div class="col-20 applyColor">
					<ul class="eventList">
						<li>{{getTimeService(event.ts)}}</li>
						<li>{{getDateService(event.ts)}}</li>
					</ul>
				</div>
				<div class="col-40 vhCenter">
					<ul class="evenDetail">
						<li><div class="verhorcenter">
								<img src="../www/img/cat.png" class="markerImg"><label>POWER
									INTERRUPT</label>
							</div></li>
						<li><span>Vehicle no:{{event.vehicle_num}}</span></li>
					</ul>
				</div>
				<div class="col-20 applyColor">
					<ul class="eventList">
						<li>{{event.Velocity}}</li>
						<li>KMPH</li>
					</ul>
				</div>
				<div class="col-20 markerDiv">
					<img alt="phone" src="../www/img/location.png" class="markerImg"
						ng-click="showEventNotifyPopup(event)">
				</div>
			</div>
		</div>
	</div>
	<!-- Events --> </ion-item>
</div>
<ion-item class="item-stable custom_item item_notification"
	ng-if="noEventNotifications">
<div class="row" ng-show="noTripNotifications">
	<div class="col verhorcenter" align="center">
		<div class="centerData">
			<ul class="nodata_list">
				<li><img alt="" src="../www/img/no-data.png" class="nodata_img"></li>
				<li><label style="color: #000">Nothing here!</label></li>
				<li><span>No Notifications Available</span></li>
			</ul>
		</div>
	</div>
</div>
</ion-item> <a ng-if="eventNotificationsAvailable" class="item viewmore_notify"
	href="#/app/tripsData">View More</a> </ion-list> </ion-content> </ion-view>


