<ion-view view-title="Scheduled Trips"> <ion-content
	class="headerMenu" ng-init="listTrips()">
<div class="bgColor">
	<ion-list>
	<div class="fixSelect" scroll="false">
		<select ng-model="trip_status" class="selectStatus"
			placeholder="select trip status">
			<option value="S" selected>Scheduled</option>
			<option value="F">Finished</option>
			<option value="C">Cancelled</option>
		</select>
	</div>
	<ion-scroll zooming="true" direction="y" ng-style="availableScroller">
	<div
		ng-repeat="trips in displayScheduled | filter :{'status':trip_status}">
		<div ng-if="trips.status=='S' && trip_status=='S'">
			<!-- Scheduled Cards -->
			<div class="updatedCard card list marginBottom">
				<div class="updatedDivider item item-divider cardPadding noBorder">
					<h3 class="tripName">{{trips.trip_name}}</h3>
					<span class="tripCode">tripcode#{{trips.trip_id}}</span>
				</div>

				<div class="item item-text-wrap itemStyle">
					<div class="row padd0">
						<div class="col-20 applyColor">
							<ul class="timelist">
								<li>PICKUP</li>
								<li>{{getTimeService(trips.td_start_point.ts)}}</li>
								<li>APPROX</li>
							</ul>
						</div>
						<div class="col-80 vhCenter">
							<label>{{trips.td_start_point.name}}</label>
						</div>
					</div>
				</div>
				<div class="item item-text-wrap itemStyle">
					<div class="row padd0">
						<div class="col-20 applyColor">
							<ul class="timelist">
								<li class="colorDrop">DROP</li>
								<li>{{getTimeService(trips.td_end_point.ts)}}</li>
								<li>APPROX</li>
							</ul>
						</div>
						<div class="col-80 vhCenter">
							<label>{{trips.td_destination.name}}</label>
						</div>
					</div>
				</div>
				<div class="item item-text-wrap itemStyle">
					<div class="row">
						<div class="col-10">
							<div class="row">
								<div class="col imgdivH">
									<img alt="phone" src="../www/img/passenger.png"
										class="passengerSectionImg">
								</div>
							</div>
						</div>
						<div class="col-80">
							<div class="row">
								<div class="col vhCenter"
									ng-repeat="customerInfo in trips.customers">
									<label class="passenger">Passenger</label>
									<p class="passDetail">{{customerInfo.name}}</p>
									<p class="passDetail">{{customerInfo.cn}}</p>
								</div>
							</div>
						</div>
						<div class="col-10">
							<div class="row">
								<div class="col imgdivP">
									<img alt="phone" src="../www/img/call.png"
										class="callSectionImg">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div
					class="updatedDivider item item-divider lastItemStyle showShadow">
					<div class="row">
						<div class="col col-center alignCenter">
							<button  ng-click="startTrip(trips)" class="button button-balanced startBtn">Start
								Trip</button>
						</div>
					</div>
				</div>
			</div>
			<!-- Scheduled Cards -->
		</div>
		<!-- Completed Cards -->
		<div ng-if="trips.status=='F' && trip_status=='F'">
			<div class="updatedCard card list">
				<div
					class="updatedDivider item item-divider firstItemStyle cardPadding">
					<h3 class="tripName">{{trips.trip_name}}</h3>
					<div class="row padd0">
						<div class="col">
							<span class="tripCode">tripcode#{{trips.trip_id}}</span><span
								class="tripComplete">Completed</span>
						</div>
					</div>
					<div class="row padd0">
						<div class="col">
							<span class="tripSlot">Scheduled Pickup:{{getTimeService(trips.td_start_point.ts)}}
								&nbsp;&nbsp;Scheduled Drop:{{getTimeService(trips.td_end_point.ts)}} </span>
						</div>
					</div>
				</div>

				<div class="item item-text-wrap noBorderitem">
					<div class="row">
						<div class="col-20">
							<ul class="completedTimelist">
								<li>START</li>
								<li>{{getTimeService(trips.drv_start_point.ts)}}</li>
							</ul>
						</div>
						<div class="col-25 custCol">
							<span class="startDot">.</span>
						</div>
						<div class="col-75 vhCenter">
							<label>	<reverse-geocode lat="{{trips.drv_start_point.lat}}"lng="{{trips.drv_start_point.long}}"/></label>
							<a ng-click="open(trips.drv_start_point)">link to see in map</a>
						</div>
					</div>
				</div>
				<div class="item item-text-wrap noBorderitem">
					<div class="row">
						<div class="col-20">
							<ul class="completedTimelist">
								<li>DROP</li>
								<li>{{getTimeService(trips.drv_drop_point.ts)}}</li>
							</ul>
						</div>
						<div class="col-25 custCol">
							<span class="dropDot">.</span>
						</div>
						<div class="col-75 vhCenter">
							<label>	<reverse-geocode lat="{{trips.drv_drop_point.lat}}"lng="{{trips.drv_drop_point.long}}"/></label>
							<a ng-click="open(trips.drv_drop_point)">link to see in map</a>
						</div>
					</div>
				</div>
				<div class="item item-text-wrap noBorderitem">
					<div class="row">
						<div class="col-20">
							<ul class="completedTimelist">
								<li>END</li>
								<li>{{getTimeService(trips.drv_end_point.ts)}}</li>
							</ul>
						</div>
						<div class="col-25 custCol">
							<span class="endDot">.</span>
						</div>
						<div class="col-75 vhCenter">
							<label>	<reverse-geocode lat="{{trips.drv_end_point.lat}}"lng="{{trips.drv_end_point.long}}"/></label>
							<a ng-click="open(trips.drv_end_point)">link to see in map</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Completed Cards -->
		<!-- Cancelled Cards -->
		<div ng-if="trips.status=='C' && trip_status=='C'">
			<div class="updatedCard card list marginBottom">
				<div class="updatedDivider item item-divider cardPadding noBorder">
					<h3 class="tripName">{{trips.trip_name}}</h3>
					<span class="tripCode">tripcode#{{trips.trip_id}}</span><span
						class="tripCancel">Cancelled</span>
				</div>

				<div class="item item-text-wrap itemStyle statusCancel">
					<div class="row padd0">
						<div class="col-20 applyColor">
							<ul class="timelist">
								<li>PICKUP</li>
								<li>{{getTimeService(trips.td_start_point.ts)}}</li>
								<li>APPROX</li>
							</ul>
						</div>
						<div class="col-80 vhCenter">
							<label>{{trips.td_start_point.name}}</label>
						</div>
					</div>
				</div>
				<div class="item item-text-wrap itemStyle statusCancel">
					<div class="row padd0">
						<div class="col-20 applyColor">
							<ul class="timelist">
								<li class="colorDrop">DROP</li>
								<li>{{getTimeService(trips.td_end_point.ts)}}</li>
								<li>APPROX</li>
							</ul>
						</div>
						<div class="col-80 vhCenter">
							<label>{{trips.td_destination.name}}</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Cancelled Cards -->
	</div>
	<div class="row" ng-show="(displayScheduled | filter:{'status':trip_status}).length==0 || notrips">
		<div class="col verhorcenter" align="center">
			<div class="centerData">
				<ul class="nodata_list">
					<li><img alt="" src="../www/img/no-data.png" class="nodata_img"></li>
					<li><label style="color: #000">Nothing here!</label></li>
					<li><span>No Data Available</span></li>
				</ul>
			</div>
		</div>
	</div>
	 <!-- ./More Trip Info --> </ion-item> </ion-item> <!-- ./Trip List -->
	</ion-scroll> </ion-list>
</div>
</ion-content> </ion-view>

